@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center; 
  /* width: 80%; */
  /* background-color:#08B6CE;
  max-width: 1200px; */
  /* min-height: 10000px; */
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
  margin:auto;
  border:10px;
  width:50%;
}
.main{
  padding:10px;
  background-color:rgb(224, 255, 250); 
  border-radius:10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* min-width: 75%;
  min-height: 75%; */
}
#root{
  background-color:rgb(224, 255, 250); 
  border-radius:5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.subjectsDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  margin:10px;
  border:10px;
}
.currentSubject{
  padding:10px;
  margin:10px;
  border:10px;
}
.cardsHolder{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:10px;
  margin:10px;
  border:10px;
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 0, 0);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  min-width: 300px;
  height: 150px;
  perspective: 1000px;
  padding:10px;
  margin:10px;
  border:10px;
}

.flip-card-inner {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(230, 230, 230);
  color: black;
}

.flip-card-back {
  background-color: #9bd7ff;
  color: white;
  transform: rotateY(180deg);
}
.subjects{
  padding:10px;
}
input{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#000000;
  text-align:center;
  transition: all 0.15s;
}
button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#000000;
  text-align:center;
  transition: all 0.15s;
  /* background-color:#08B6CE;
  color: white; */
}

button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}
button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}
